@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #f4f4f4;*/
}

header {
    text-align: center;
    position: relative;
}

.hero {
    background: url('https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80');
    display: flex;
    width: 100%;
    height: calc(100vh - 47px);
}
.features {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    top: 25%;
    left: 23%;
    max-width: 50vw;
    padding: 5vw;
    color: #EEEEEE;
}

.cta {
    /*background-color: #f1f1f1;*/
    padding: 20px;
    text-align: center;
}

.cta form {
    display: inline-block;
}

.cta input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.cta button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

